*{
    margin:0;
    padding: 0;
}

body{
    background-color: #fdf8f7;
    font-family: sans-serif;
    height: 2000px;
}

nav{
    font-family: sans-serif;
}

nav .ship{
    height: 40px;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: 
    #f6dede;
}

nav .ship p{
    font-size: 15px;
}

nav .off{
    height: 30px;
    width: 100%;
    background-color: #f5f5f5;
}

.off .off-{
    height: 30px;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}  

.off- .gift{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}



.off- .gift a{
    text-align: none;
    color: black;
}

.thirdnav{
    height: 80px;
    width: 100%;
    background-color: white;
}
nav .third{
    height: 80px;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}



.third .third-{
    height: 80px;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 1rem;
    margin-left: -5%;
}

.third .third- a{
    text-decoration: none;
color: black;

}


nav .sign a{
    padding: 2px;
    text-decoration: none;
    color: black;
}

nav .sign a:nth-child(1){
    color: #48adac;
}

nav .sign a:nth-child(4){
 font-size: 20px;
}



.background{
    height: 700px;
    width: 100%;
}

.row1{
    height: 200px;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row1 .col{
    width: 14%;
}

.row1 .col:nth-child(2){
    margin-top: 5%;
}
.row1 .col:nth-child(3){
    margin-top: 8%;
}

.row1 .col:nth-child(4){
    margin-top: 5%;
}

.row1 .col img{
    width: 100%;
    border-radius: 10px;
}




/* section 2 */
.sec2{
    height: 200px;
    width: 100%;
    background-color: white;

}

.sec2 .sec2-{
    height: 200px;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sec2- .rate{
    display: flex;
    align-items: center;
    margin-left: 18%;
}

.sec2- .rate p:nth-child(3){
    color: 
    #8eadad;
}

.sec2- .rate p:nth-child(2){
    font-size: 18px;
}

.sec2- .mix {
  line-height: 2rem;  
  color: 
  #7f8e99;
}

/* section 3 */
.sec3{
    height: 700px;
    width: 100%;
    background-color: #f6fbfb;
}

.sec3 .sec3-{
    height: 700px;
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sec3 .sec3- .col2{
    /* height: 300px; */
    width:60%;

}

.sec3 .sec3- .col2 iframe{
    width: 100%;
}