*{
    margin:0;
    padding: 0;
}

body{
    background-color: #fdf8f7;
    font-family: sans-serif;
    height: 2000px;
}

nav{
    font-family: sans-serif;
}

nav .ship{
    height: 40px;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: 
    #f6dede;
}

nav .ship p{
    font-size: 15px;
}

nav .off{
    height: 30px;
    width: 100%;
    background-color: #f5f5f5;
}

.off .off-{
    height: 30px;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}  

.off- .gift{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}



.off- .gift a{
    text-align: none;
    color: black;
}

.thirdnav{
    height: 80px;
    width: 100%;
    background-color: white;
}
nav .third{
    height: 80px;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}



.third .third-{
    height: 80px;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 1rem;
    margin-left: -5%;
}

.third .third- a{
    text-decoration: none;
color: black;

}


nav .sign a{
    padding: 2px;
    text-decoration: none;
    color: black;
}

nav .sign a:nth-child(1){
    color: #48adac;
}

nav .sign a:nth-child(4){
 font-size: 20px;
}



.background{
    height: 700px;
    width: 100%;
}

.row1{
    height: 200px;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row1 .col{
    width: 14%;
}

.row1 .col:nth-child(2){
    margin-top: 5%;
}
.row1 .col:nth-child(3){
    margin-top: 8%;
}

.row1 .col:nth-child(4){
    margin-top: 5%;
}

.row1 .col img{
    width: 100%;
    border-radius: 10px;
}




/* section 2 */
.sec2{
    height: 200px;
    width: 100%;
    background-color: white;

}

.sec2 .sec2-{
    height: 200px;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sec2- .rate{
    display: flex;
    align-items: center;
    margin-left: 18%;
}

.sec2- .rate p:nth-child(3){
    color: 
    #8eadad;
}

.sec2- .rate p:nth-child(2){
    font-size: 18px;
}

.sec2- .mix {
  line-height: 2rem;  
  color: 
  #7f8e99;
}

/* section 3 */
.sec3{
    height: 600px;
    width: 100%;
    background-color: #f6fbfb;
}

.sec3 .sec3-{
    height: 600px;
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec3- .col1 {
    width: 40%;

}


.sec3- .col1 h1{
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 1rem;
}

.sec3- .col1 p{
   line-height: 30px;
}

.sec3- .col1 button{
    padding: 20px 30px;
    background-color: #ff6b70;
    color: white;
    border: none;
    border-radius: 4px;
 }
 


.sec3 .sec3- .col2{
    /* height: 300px; */
    width:60%;

}

.sec3 .sec3- .col2 iframe{
    width: 100%;
}

/* section 7 */
.sec7{
    height: 600px;
    width: 100%;
    background-color: white;
}

.sec7 .sec7-{
    height: 600px;
    width:85% ;
    margin: auto;
    padding-top: 2rem;
}

.sec7- .meet{
    text-align: center;
    line-height: 2rem;
    margin-bottom: 3rem;
}

.sec7- .meet h1{
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 1rem;
}

.sec7-  .love{
    display: flex;
    align-items: center;
    justify-content: space-between;
 
}

.sec7-  .love .love-{
  width: 23.9%;
}

.love .love- img{
    width: 100%;
  }

  .sec7-  .love i{
    font-size: 40px;
}

.sec7- .baz{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 3%;
    color: #a7afb9;
    font-size: 15px;
}

.sec7- .but{
    text-align: center;
    padding-top: 2rem;
}

.sec7- .but button{
    padding: 20px 30px;
    background-color: #3cadac;
    color: white;
    border: none;
    border-radius: 4px;
}

footer{
    height: 1000px;
    width: 100%;
    background-color: 
    #f5f5f5;
}

footer .foot{
    height:500px;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10rem;
}

footer .foot div{
    height:400px;
    /* width: 100%; */
    margin: auto;

}


footer .foot ul li{
list-style: none;
line-height: 2rem;
}

footer .foot ul li a:nth-child(1){
        text-decoration: none;
        color: black;
}

footer .foot ul li a:nth-child(2){
    text-decoration: none;
    color: black;
}

footer .foot ul li a:hover{
    color: 
#3cadad;
}

.cal{
    padding-top: 3.5rem;
}

/* footer .foot ul li a{
     text-decoration: none;
    color: black; 
} */


.chat{
    color: #3cadac;
    text-decoration: none;
}

hr{
width: 90%;
margin: auto;    
margin-bottom: 3rem;
}

.footb {
    height: 300px;
    width: 100%;
}

.footb .footb-{
    height: 300px;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footb- .middle{
    text-align: center;
}


.middle div{
    padding-top: 5px;
}

.middle input{
     height: 30px;
     width: 60%;
     padding: 5px;
     background-color: white;
     border: none;
     border-radius: 4px;
     
}

.middle ::placeholder{
    font-weight: 900;
    color: #7f8e99;
}

.middle button{
    padding: 12px 20px;
    background-color: #3cadac;
    border: none;
    color: white;
}

.middle i{
    padding: 7px;
}

.middle .press{
    padding-bottom: 0.5rem;
}

.middle a{
    padding: 5px;
    color: #7f8e99;
    text-decoration: none;
    font-size: 15px;

}

.middle p{
    font-size: 15px;
    color: #7f8e99;
}